<h2>Fail.</h2>
<ul>
    <li>Vérifie que ton username n'est pas déjà utilisé</il>
    <li>Vérifie que ton username ne comporte pas d'espaces</il>
    <li>Vérifie aussi l'adresse mail</il>
</ul>
<p><a href ="/">Retour</a></p>