<h2>Choisis ton formulaire</h2>
<ul>
    <li><a href="/form">Méthode form classique</a></li>
    <li><a href="/formtag">Méthode form_tag</a></li>
    <li><a href="/formfor">Méthode form_for</a></li>
</ul>